.title-parent .title {
 display: inline-block;
 width: auto;
 margin: auto;
 font-size: 16px;

}
.title-parent{
    display: flex;
    align-items: center;
}
.product-card{
    min-width: 40%;
    margin: 30px 6px;
}


.footerview ul{
    width: 50%;
    margin-bottom: 25px;
}