*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: none;
}
.headre{
    position: fixed;
    z-index: 5;
    top: 0px;
    width: 100%;
    box-shadow: 4px 15px 22px -10px rgba(0,0,0,0.45);
}
#header {
    max-width:1280px;
    margin: auto;
}
#header nav{
    position: relative;
    z-index: 5;
    max-width: 100%;
    margin: auto;
    padding: 20px 65px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.911);
}
nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
}
.categories{
    display: flex;
}
#header input{
    width: 260px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: rgb(228, 228, 228) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    border: none;
}
#header input:focus{
    outline: 1px solid#009688;
    /* outline: none; */
}
.logo h4{
    font-size: 24px;
    color: #009688;
    font-weight: 900;
}
.categories h5{
    color: black;
}
.logo .line-text{
    color: black;
    font-weight: 700;
}
.cart-user{
    align-self: flex-end;
    position: relative;

}
.user-image{
    display: flex;
    width: 40px;
    border-radius: 50%;
    padding: 2px solid #fff;
    border: 2px solid #ffffff;
    align-self: flex-end;
}
.user-imagediv{
    border-radius: 50%;
    border: 2px solid #009688;
    align-self: self-end;
}
.cart-icon{
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding-right: 20px;
}
.categories h5{
    padding-right: 25px;
}
.cart-user{
    /* margin-left: 215px; */
}
.cartNum{
    display: inline-block;
    background-color: #009688;
    color: white;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: -15px;
}



@media screen and (min-width: 20px) and (max-width: 678px) {
    
    #header input{
        margin-left: 20px;
        width: 15px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        transition: all 200ms ease-in-out;
    }
    .categories{
        display: none;
    }
    #header input:focus{
        width: 200px;
    }
    #header input:focus .logo{
        display: none;
    }
    .cart-user{
        align-self: flex-end;
    }
    #header nav{
        padding: 20px 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
    .logo{
   flex: 2;
    }

}









/* ---------------------------------------- */












#dynamic-container{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: auto;
    margin-top: 80px;
}

.img-leftt{
    padding: 20px;
    width: 40%;
}
.img-leftt img{
    width: 100%;
}
.data-right{
    padding-left: 30px;
    width: 60%;
    margin-top: 20px;
    align-self: baseline;
    line-height: 1.3;
}

.primary-clr-bld{
    color: #009688;
    font-weight: bold;
}
.data-right h1{
    font-weight: 400;
    font-size: 41px;
    /* letter-spacing: px */
}

.data-right h4{margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}

.data-right h5{
    letter-spacing: .7px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #86939e;
}
.preview-image{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    width: 100%;
}


.preview-s-image{
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
    width: 15%;
    height: 100%;
    background-color: white;
}
.preview-s-image:hover{
    cursor: pointer;
}

.active{
    border: 2px solid #009688
}
.add-cart-btn{
    margin: 35px 3px;
display: inline-block;
font-size: 16px;
font-weight: bold;
color: #fff;
padding: 10px 20px;
letter-spacing: 2px;
background-color: #009688;
border: none;
border-radius: 4px;
cursor: pointer;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.add-cart-btn:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7); 
}


.footer{
    background-color: rgb(26, 26, 26);
    width: 100%;
}

.footerview{
    margin: auto;
    color: white;
    max-width: 1000px;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerview ul{
    list-style: none;
    line-height: 1.6rem;
    font-size: 12px
}

.footerview ul li:first-child{
    font-size: 13px;
    margin-bottom: 8px;
    font-weight: bold;
}
.footerview ul li:not(:first-child):hover{
    color: #009688;
    cursor: pointer;
}