@media only screen and (max-width: 680px) {
 
    #dynamic-container{
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 45px;
    }  
    .data-right{
    width: 100%;
    }
    .img-leftt{
        padding: 20px;
    width: 100%;
    }
    .data-right h1{
        font-size: 32px;

    }
    
    .data-right h4{margin-top: 20px;
        font-size: 15px;
    }
    
    .data-right h5{
        font-size: 13px;
    }
    .product-card{
        min-width: 40%;
        margin: 30px 6px;
    }
    
    
    .footerview ul{
        width: 50%;
        margin-bottom: 25px;
    }
}